<div id="topBar">
    <button id="btnNightMode" class="icon-btn" title="Night/Light Mode">
      <img src="./assets/dark-mode.png" alt="Night Mode" width="24">
    </button>
    <button id="btnContrastMode" class="icon-btn" title="Alto/Baixo Contraste">
      <img src="./assets/contrast.png" alt="Contrast Mode" width="24">
    </button>
    <button id="btnPT" class="icon-btn" title="Português">
      <img src="./assets/flag-brazil.png" alt="pt-BR" width="24">
    </button>
    <button id="btnCA" class="icon-btn" title="English">
      <img src="./assets/flag-canada.png" alt="en-CA" width="24">
    </button>
    <button id="btnFR" class="icon-btn" title="Français">
      <img src="./assets/flag-france.png" alt="fr-FR" width="24">
    </button>
  </div>
  