<div class="print-container">
    <h1 data-id="title">Relatório para Impressão</h1>
  
    <h2 data-id="sectionInputs">Dados informados</h2>
    <p><strong data-id="eachDoseLabel"></strong> <span data-id="dose"></span></p>
    <p><strong data-id="intervalLabel"></strong> <span data-id="tau"></span></p>
    <p><strong data-id="infusionTimeLabel"></strong> <span data-id="tinf"></span></p>
    <p><strong data-id="peakLabel"></strong> <span data-id="peak"></span></p>
    <p><strong data-id="timeAfterLabel"></strong> <span data-id="t1"></span></p>
    <p><strong data-id="troughLabel"></strong> <span data-id="trough"></span></p>
    <p><strong data-id="peakTimeLabel"></strong> <span data-id="peakTime"></span></p>
    <p><strong data-id="troughTimeLabel"></strong> <span data-id="troughTime"></span></p>
    <p><strong data-id="estimateInfusionTimeLabel"></strong> <span data-id="estimateInfusionTime"></span></p>
  
    <h2 data-id="sectionResults">Resultados AUC24</h2>
    <p data-id="auc24"></p>
    <p data-id="warning" style="white-space: pre-line; color: red;"></p>
  
    <footer class="print-footer">
      <p data-id="footerText">Relatório gerado automaticamente pela Calculadora AUC24 - © Alexandre Trieste 2024-2026 v1.1.0 - todos os direitos reservados</p>
    </footer>
  </div>
  