.d-none {
    display: none;
}

header h1 {
    font-size: 24px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 50%;
    max-width: 400px;
    text-align: center;
}

.container h1 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group p {
    font-size: 14px;
    text-align: start;
    margin-bottom: 4px;
}

.gen-password-row {
    display: flex;
}

input[type="number"],
input[type="text"] {
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}

button:hover {
    background-color: #45a049;
}

.buttons-group {
    display: flex;
    flex-direction: column;
}

.gen-password-row button {
    width: 60%;
}

.results-group #demo {
    padding: 8px;
    background-color: #cecece;
    height: 20px;
    border-radius: 12px;
    border: 1px solid gray;
    font-weight: 600;
}

.container::after {
    content: "";
    display: block;
    height: 60px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2px 0;
}
